@import "../../scss/mixin.scss";

.about {
  $var: adpt(1312);
  background: linear-gradient(#FFFFFA $var, #F8F9FA $var );
}

@media(min-width: 1920px) {
  .about {
    background: linear-gradient(#FFFFFA 1312px, #F8F9FA 1312px);
  }
}

.about__aboutUs {
  width: 100%;
  @include height(710);
  max-width: 2000px;
  margin: auto;
  @include paddingLeft(105);
  @include paddingRight(105);
  @include paddingTop(164);
  display: flex;
  justify-content: space-between;
  position: relative;

  .aboutUs__info {
    @include size(760, 379);
    @include borderRadius(15);
    @include paddingTop(30);
    @include paddingLeft(63);
    @include marginRight(100);
    background-color: #FFFFFA;
    border-radius: 15px;
    box-shadow: 0px 0px 24px #00000029;

    .aboutUs__title {
      @include size(120, 48);
    }

    .aboutUs__text {
      @include marginTop(25);
      @include width(660);
    }
  }

  .aboutUs__image {
    transform: translateY(-12%);
    @include size(812, 539);
    @include borderRadius(15);
    background-image: url(../../media/img/murm_photoshop_final.jpg);
    background-size: cover;
    background-position: 50% 50%;
    image-rendering: -webkit-optimize-contrast;
  }
}



.about__history {
  margin: auto;
  @include marginTop(80);
  @include size(1640, 791);
  @include borderRadius(15);
  box-shadow: 0px 0px 24px #00000029;
  background-color: #FFFFFA;
  position: relative;

  .history__title {
    position: absolute;
    @include top(52);
    @include left(138);
  }

  .slider__sliderBody {
    position: absolute;
    @include top(197);
    @include left(0);
    width: 100%;
    @include height(459);
    // @include size(1484,419);
    display: flex;
    justify-content: space-between;

    .slider__event {
      transition: all 0.4s;
      @include size(384, 419);
      @include marginLeft(135);

      .event__text {
        @include marginTop(20);
        @include size(379, 348);

        .hash-ref {
          transition: all 0.2s;
          color: #002266;

          &:hover {
            color: #F27300
          }
        }
      }

      .event__date {
        @include size(260, 52);
        @include paddingTop(20);
        position: relative;
      }

      .event__date::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        max-width: 100%;
        height: 2px;
        border-radius: inherit;
        background: linear-gradient(to right, black 0%, #F27300 60%);
      }
    }
  }

  .slider__button_left {
    transition: all 0.5s;
    cursor: pointer;
    position: absolute;
    @include top(500);
    @include left(1429);
    @include size(79, 42);
    background-color: #002266;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    .slider__button_arrow {
      @include size(47, 27);
      margin: auto;
      @include marginTop(7);
    }

    .arrow_left {
      transform: rotate(180deg);
    }

    &:active {
      background-color: #002266b2;
      box-shadow: 0px 0px 0px #0000003a;

    }
  }

  .slider__button_right {
    transition: all 0.5s;
    cursor: pointer;
    position: absolute;
    @include top(500);
    @include left(1508);
    @include size(79, 42);
    background-color: #002266;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    .slider__button_arrow {
      @include size(47, 27);
      margin: auto;
      @include marginTop(7);
    }

    &:active {
      background-color: #002266b2;
      box-shadow: 0px 0px 0px #0000003a;

    }
  }
}


.slick-disabled {
  transition: all 0.5s;
  opacity: 0.6;
  pointer-events: none;
}



.about__clients {
  @include marginTop(77);

  .clients__title {
    @include marginLeft(278);
  }

  .clients__info {
    @include marginTop(44);
    @include marginLeft(278);
    @include width(950);
    @include marginBottom(29);
  }

  .clients__client_example {
    @include paddingLeft(137);
    @include paddingRight(68);
    @include size(1640, 174);
    @include marginLeft(140);
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: #C4C4C4;
    display: flex;
    justify-content: space-between;

    .client__image {
      @include size(260, 72);
      @include borderRadius(15);
      @include marginTop(52);
      overflow: hidden;
      img{
        width: 100%;
        height: auto;
        transform: translateY(-25%)
      }
    }

    .client__name {
      @include marginTop(76);
    }

    .client__work {
      @include marginTop(64);
      @include width(536);
    }
  }

  .client_example__last {
    border: 0;
  }

  .clients__hidden {
    display: none;
  }

  .clients__button {
    cursor: pointer;
    @include size(183, 42);
    margin: auto;
    @include marginTop(51);
    background-color: #002266;
    @include borderRadius(15);
    @include paddingTop(9);
    position: relative;

    &:focus {
      opacity: 0;
    }

   
    .clients__arrow_bottom {
      @include size(14, 26);
      margin: auto;
      transition: all 0.8s;
      transform: rotate(90deg);
    }

    .clients__arrow_bottom_active {
      transition: all 0.8s;
      transform: rotate(270deg);
    }
  }

}


.about__thanks {
  @include marginTop(87);
  @include height(877);

  .thanks__title {
    @include marginLeft(278);
    @include marginBottom(73);
  }

  .thanks__wrapper {
    @include marginLeft(278);
    @include marginRight(270);
    display: flex;
    justify-content: space-between;

    .thanks__example {
      transition: all 0.5s;
      @include size(260, 460);
      border: 3px;
      border-style: solid;
      border-color: #092153;
      @include borderRadius(15);
      position: relative;
      @include marginLeft(50);
      overflow: hidden;
      img{
        width: 100%;
        height: auto;
      }

      &:hover {
        cursor: pointer;
        transition: all 0.5s;
        transform: scale(1.07);
      }
    }

    a {
      text-decoration: none;
      color: black;
    }
  }
}





@media(max-width: 768px) {
  .about {
    display: none;
  }
}